html
    head
        style
        script(src="a.js")
        link(href="a.css",rel="stylesheet")
    body
        div
            ul
                li
                    input(type="text",id="txt1",value="abc")
                li
                    input(type="text",id="txt2",value="qwe")
                li
                    input(type="text",id="txt3",value="zxc")

        div