html
    head
        style
        script(src="a.js")
        link(href="a.css",rel="stylesheet")
    body
        div
            ul
                li
                    <a href='http://www.baidu.com'>百度</a>
                li
                    input(type="text",id="txt2",value="qwe")
                li
                    input(type="text",id="txt3",value="zxc")

        div