html
    head
        script
            | window.onload = function() {
            |    var btn = document.getElementById('div');
            |    btn.onclick=function(){
            |       alert('aaaa');
            |    }
            |}
    body
        |abc